<%- include('partials/head.ejs') %>
<body>
    <header>
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#">Trabalho Intermitente</a>
            <a class="navbar-brand" href="/sair">Sair</a>
        </nav>
    </header>
    <main class='container mt-4 col-lg-6'>
        <div class='row'>
            <div class='ml-3 col-sm-12'>
                <h2>Perfil Colaborador</h2>
                <% if( typeof msg !== 'undefined'){ %>
                    <div class='col-sm-12 p-1 bg-success text-light text-center' id='mensagem' ><%= msg %></div>
                <% } %>
            </div>
        </div>
        <div class='row my-4 d-flex justify-content-center '>
                <div class="col text-center">
                    <a href="/colaborador/contratos"><i class="material-icons" style="font-size:72px;color:black">group</i></a>
                    <p>Meus contratos</p>
                </div>
                <div class="col text-center">
                    <a href="/colaborador/notificacoes"><i class="material-icons" style="font-size:72px;color:black">view_headline </i></a>
                    <p>Notificacoes</p>
                </div>
            </div>
        </div>



          
        </main>
    
        <%- include('partials/jsBootstrap.ejs') %>
    
  
    </body>
    </html>