<%- include('partials/head.ejs') %>
<body>
    <header>
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#">Trabalho Intermitente</a>
            <a class="navbar-brand" href="/sair">Sair</a>
        </nav>
    </header>
    <main class='container mt-5 col-lg-6'>
        <div class='row'>
            <div class='ml-3'>
                <h2>Perfil Colaborador</h2>
            </div>
        </div>
        <div class='row'>
            <div class='ml-5 mt-4'>
                <p>Lista de notificações:</p>
            </div>
        </div>
        <div class="card text-center ml-2 mb-2">
            <div class="card-header text-left">
                Empresa A
            </div>
            <div class="card-body">
                <h5 class="card-title text-left">Pintor</h5>
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="btn btn-success">Aceitar</a>
                <a href="#" class="btn btn-danger">Recusar</a>
                <a href="#" class="btn btn-info">Informações</a>
            </div>
            <div class="card-footer text-muted">
                1 day ago
            </div>
        </div>
        <div class="card text-center ml-2 mb-2">
            <div class="card-header text-left">
                Empresa B
            </div>
            <div class="card-body">
                <h5 class="card-title text-left">Carpinteiro</h5>
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="btn btn-success">Aceitar</a>
                <a href="#" class="btn btn-danger">Recusar</a>
                <a href="#" class="btn btn-info">Informações</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <div class="card text-center ml-2 mb-2">
            <div class="card-header text-left">
                Empresa C
            </div>
            <div class="card-body">
                <h5 class="card-title text-left">Marceneiro</h5>
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="btn btn-success">Aceitar</a>
                <a href="#" class="btn btn-danger">Recusar</a>
                <a href="#" class="btn btn-info">Informações</a>
            </div>
            <div class="card-footer text-muted">
                3 days ago
            </div>
        </div>
        <div class="card text-center ml-2 mb-2">
            <div class="card-header text-left">
                Empresa D
            </div>
            <div class="card-body">
                <h5 class="card-title text-left">Encanador</h5>
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                <a href="#" class="btn btn-success">Aceitar</a>
                <a href="#" class="btn btn-danger">Recusar</a>
                <a href="#" class="btn btn-info">Informações</a>
            </div>
            <div class="card-footer text-muted">
                4 days ago
            </div>
        </div>
 
          
        </main>
    
        <%- include('partials/jsBootstrap.ejs') %>
    
  
    </body>
    </html>