<%- include('partials/head.ejs') %>
<body>
    <header>
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#">Trabalho Intermitente</a>
            <a class="navbar-brand" href="/sair">Sair</a>
        </nav>
    </header>
    <main class='container mt-5 col-lg-6'>
        <div class='row'>
            <div class='ml-3'>
                <h2>Perfil Empresa</h2>
                <% if( typeof msg !== 'undefined'){ %>
                    <div class='col-sm-12 p-1 bg-success text-light text-center' id='mensagem' ><%= msg %></div>
                <% } %>
            </div>
        </div>
        <div class='row my-4 d-flex justify-content-center '>
            <div class='col-lg-9 d-flex justify-content-around'>
                <div class="text-center">
                    <a href="/cadastro/contrato"><i class="material-icons" style="font-size:72px;color:black">person_add</i></a>
                    <p>Adicionar Contrato</p>
                </div>
                <div class="text-center">
                    <a href="/empresa/colaboradores"><i class="material-icons" style="font-size:72px;color:black">group</i></a>
                    <p>Colaboradores</p>
                </div>
            </div>
        </div>
        <div class='row my-4 d-flex justify-content-center '>
            <div class='col-lg-9 d-flex justify-content-around'>
                <div class="text-center">
                    <a href="/cadastro/evento"><i class="material-icons" style="font-size:72px;color:black">playlist_add</i></a>
                    <p>Adicionar Evento</p>
                </div>
                <div class="text-center">
                    <a href="/empresa/eventos"><i class="material-icons" style="font-size:72px;color:black">view_headline </i></a>
                    <p>Eventos</p>
                </div>
            </div>
        </div>



          
        </main>
    
        <%- include('partials/jsBootstrap.ejs') %>
    
  
    </body>
    </html>