<%- include('partials/head.ejs') %>
<body>
    <header>
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#">Trabalho Intermitente</a>
        </nav>
    </header>
    <main class='container mt-5 d-flex justify-content-center'>
      <form class='col-sm-12 col-md-6 col-lg-6'>
        <div class="form-group">
            <div class='col-sm-12 p-1 bg-danger text-light text-center d-none' id='mensagem' >***Preencha todos os campos***</div>
        </div> 
        <div class="form-group">
          <label for="email">Login</label>
          <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="password" placeholder="">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="lembraSenha">
          <label class="form-check-label" for="lembrarSenha">Lembrar-se</label>
        </div>
        <div class="form-group ">
            <button type="submit" id="btn-entrar" class="btn btn-success col-12">Entrar</button>
        </div>
        <div class="form-group">
            <a class="btn btn-info col-12" href="/cadastro" role="button">Cadastre-se</a>
        </div>
      </form>
    </main>

    <%- include('partials/jsBootstrap.ejs') %>
    <script src='/javascripts/login.js'></script>
</body>
</html>