<%- include('../partials/head.ejs') %>
<body onload="limpaMsg()">
    <header>
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="#">Trabalho Intermitente</a>
            <a class="navbar-brand" href="/cadastro"><i class="fa fa-undo"></i></a>
            
        </nav>
    </header>
    <main class='container mt-2 col-lg-6'>
        <div class='row'>
            <div class='ml-3'>
                <h2>Cadastro Colaborador</h2>
            </div>
        </div>
        <!-- <div class='row'>
            <div class='ml-5 mt-4'>
                <p>cadastro de colaborador:</p>
            </div>
        </div> -->

        <!-- 
            COLABORADORES: Nome, MEI, CPF, área de atuação, telefone, e-mail, número de contratos, 
            histórico de convocação, local do serviço; 
        --> 

        <form class='col-sm-12' action="/cadastro/colaborador" method="POST">
            <div class="form-group">
                <div class='col-sm-12 p-1 bg-danger text-light text-center d-none' id='mensagem' >***Preencha todos os campos***</div>
                <% if( typeof msg !== 'undefined'){ %>
                    <div class='col-sm-12 p-1 bg-danger text-light text-center' id='msg' ><%= msg %></div>
                <% } %>
            </div>
            <div class="form-group">
                <div class='col-sm-12 text-danger text-left pl-0' >Campos com * são de preenchimento obrigatório</div>
            </div> 
            <div class="form-group">
                <label for="cpf">* CPF:</label>
                <input type="text" class="form-control" name="cpf" id="cpf" aria-describedby="cpf" placeholder="Insira somente os números sem os pontos" required>
            </div>
            <div class="form-group">
              <label for="nome">* Nome:</label>
              <input type="nome" class="form-control" name="nome" id="nome" aria-describedby="nome" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="data">* Data Nascimento:</label>
                <input type="date" class="form-control" name="dataNascimento" id="dataNascimento" aria-describedby="dataNascimento" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="data">* Sexo:</label>
                <select class="form-control" id="sexo"  name="sexo" id="sexo" aria-describedby="sexo" placeholder="Selecione uma opção" required>
                    <option></option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cep">* CEP:</label>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <input type="text" class="mb-2 form-control" name="cep" id="cep" aria-describedby="cep" placeholder="00000000" required>
                    </div>
                    <div class="col">
                        <input type="button" class="form-control btn btn-info  btnPesquisar" id="btnPesquisar" value="Pesquisar Endereço">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="nome">* Endereço:</label>
                <input type="text" class="form-control" name="endereco" id="endereco" aria-describedby="endereco" placeholder="" required >
            </div>
            <div class="form-group">
                <div class="row mb-3">
                    <div class="col-3">
                        <label for="nome">* Número</label>
                        <input type="text" class="form-control" name="numero" id="numero" aria-describedby="numero" placeholder="" required>
                    </div>
                    <div class="col">
                        <label for="nome">Complemento:</label>
                        <input type="text" class="form-control" name="complemento" id="complemento" aria-describedby="complemento" placeholder="">
                    </div>
            </div>
            <div class="form-group">
                <label for="bairro">* Bairro:</label>
                <input type="text" class="form-control" name="bairro" id="bairro" aria-describedby="bairro" placeholder="" >
            </div>
            <div class="form-group">
                <label for="nome">* Cidade:</label>
                <input type="text" class=" form-control" name="cidade" id="cidade" aria-describedby="cidade" placeholder="" >
            </div>
            <div class="form-group">
                <label for="nome">* Estado:</label>
                <input type="text" class="form-control" name="estado" id="estado" aria-describedby="estado" placeholder="" >
            </div>
            <div class="form-group">
                <label for="telefone">* Telefone</label>
                <input type="text" class="form-control" name="telefone" id="telefone" aria-describedby="telefone" onkeypress = mascara(this) placeholder="(00) 00000-0000" required>
            </div>
            <div class="form-group">
                <label for="email">* Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="email" placeholder="" required>
              </div>
            <div class="form-group">
              <label for="senha">* Senha</label>
              <input type="password" class="form-control" name="senha" id="senha" placeholder="" required>
            </div>
            <div class="form-group">
                <label for="senha">* Confirmação de Senha</label>
                <input type="password" class="form-control" name="confirmaSenha" id="confirmaSenha" placeholder="" required>
              </div>
            <div class="form-group ">
                <button type="submit" id="btn-entrar" class="btn btn-success col-12">Cadastrar</button>
            </div>
          </form>
        </main>
    
        <%- include('../partials/jsBootstrap.ejs') %>
        <script src="/javascripts/validacaoCPF.js"></script>
        <script src="/javascripts/validadorCep.js"></script>
        <script src="/javascripts/validacaoTele.js"></script>
        <script src="/javascripts/validacaoSenha.js"></script>
        <script>
            function limpaMsg(){
                setTimeout(function () {
                    document.getElementById("msg").classList.add("d-none");
                }, 3000);
            }
        </script>
  
    </body>
    </html>